@keyframes slideup {
    from {
        opacity: 0;
        transform: translateY(10rem) scale(0.5);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes slideleft {
    from {
        opacity: 0;
        transform: translateX(-15rem) scale(0.5);
    }
    to {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}

@keyframes bounce {
    from {
        transform: translateX(-0.1rem);
    }
    to {
        transform: translateX(0.1rem);
    }
}