.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 3rem 0 5rem 0;
    background: #e2e2e2 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='0.3' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    
    @include mq(855) {
        padding-bottom: 2rem;
    }
    
    @include mq(660) {
        flex-direction: column;
    }
    
    article {
        @include mq(660) {
            width: 65%;
            margin: 1rem auto;
        }
    
        @include mq(450) {
            width: 90%;
        }
    }
    
    h3 {
        color: #37393b;
        font-size: 1.6rem;
        margin: 0.5rem 0;
    }
    
    .contact-us {
        ul {
            list-style: none;
            padding: 0;
            margin-top: 1.5rem;
            
            li {
                position: relative;
                padding-left: 2.2rem;
                margin-bottom: 1rem;
                font-size: 1.1rem;
                color: #2a292a;
                
                span {
                    font-weight: 600;
                }
            }
        }
        
        i {
            position: absolute;
            top: 0.1rem;
            left: 0.4rem;
        }
    }
    
    .subscribe {
        h3 {
            margin-bottom: 2rem;
        }
        
        input[type="email"] {
            padding: 0.9rem 0.9rem 0.9rem 1rem;
            border: none;
            font-size: 0.9rem;
            outline: none;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            width: 57%;
            
            &::placeholder {
                font-style: italic;
            }
    
            &:focus::placeholder {
                color: transparent;
            }
        }
        
        input[type="submit"] {
            padding: 0.84rem;
            border: 0;
            border-top-right-radius: 10px;
            background: #f8b400;
            border-bottom-right-radius: 10px;
            color: white;
            font-weight: 700;
            font-size: 1rem;
            width: 32%;
            outline: none;
            cursor: pointer;
            position: relative;
            left: -0.2rem;
        }
    }
    
    .follow-us {
        div {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        
        h3 {
            margin-bottom: 1rem;
        }
        
        i {
            width: 3rem;
            height: 3rem;
            background: #c97206;
            border-radius: 50%;
            font-size: 1.2rem;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0.3rem;
            cursor: pointer;
        }
    
        div i:nth-of-type(1) {background: #3B559F;}
        div i:nth-of-type(2) {background: #1DA1F2;}
        div i:nth-of-type(3) {background: #ac0808;}
        div i:nth-of-type(4) {background: #0077B5;}
    }
}

.rights {
    p {
        text-align: center;
        color: #fff;
        background: #7f7f7f;
        margin: 0;
        padding: 1.1rem 0;
        font-weight: 600;
        
        span {
            color: #f8b400;
        }
    }
}