.info {
    @include flex(row, space-evenly);
    flex-wrap: wrap;
    padding: 3rem 0 5rem 0;
    background: linear-gradient(to bottom,rgba(255,255,255,.8) 0%,rgba(226,226,226,.8) 100%),url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    border-top: 3px solid #eaeaea;
    
    @include mq(855) { padding-bottom: 2rem; }
    @include mq(660) { flex-direction: column; }
    
    article {
        padding: 0 1rem;
        
        @include mq(660) {
            width: 65%;
            margin: 1rem auto;
        }
    
        @include mq(450) { width: 90%; }
    }
    
    h3 {
        color: #37393b;
        font-size: 1.6rem;
        margin: 0.5rem 0;
    }
    
    .contact-us {
        ul {
            list-style: none;
            padding: 0;
            margin-top: 1.5rem;
            
            li {
                position: relative;
                padding-left: 2.2rem;
                margin-bottom: 1rem;
                font-size: 1.1rem;
                color: #2a292a;
                
                span {
                    font-weight: 600;
                }
            }
        }
        
        i {
            position: absolute;
            top: 0.1rem;
            left: 0.4rem;
        }
    }
    
    .subscribe {
        h3 {
            margin-bottom: 2rem;
        }
        
        input[type="email"] {
            padding: 0.9rem 0.9rem 0.9rem 1rem;
            border: none;
            font-size: 0.9rem;
            outline: none;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            width: 57%;
            
            &::placeholder {
                font-style: italic;
            }
    
            &:focus::placeholder {
                color: transparent;
            }
            
            @include mq(350) {
                width: 48%;
            }
        }
        
        input[type="submit"] {
            padding: 0.84rem;
            border: 0;
            color: var(--footer-button-color, #fff);
            background: var(--footer-button-background, #f8b400);
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            font-weight: 700;
            width: 32%;
            outline: none;
            cursor: pointer;
            position: relative;
            left: -0.2rem;
        }
    }
    
    .follow-us {
        div {
            @include flex(row);
            flex-wrap: wrap;
        }
        
        h3 {
            margin-bottom: 1rem;
        }
        
        i {
            @include flex(column, center);
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            font-size: 1.2rem;
            color: #fff;
            align-items: center;
            margin: 0.3rem;
            cursor: pointer;
            
            &:hover {
                animation: bounce 0.1s ease infinite;
            }
        }
    
        $color-collection: (#3B559F, #1DA1F2, #ac0808, #0077B5);
    
        @for $i from 1 to length($color-collection) + 1 {
            div i:nth-of-type(#{$i}) {
                background: nth($color-collection, $i);
            }
        }
    }
}

.rights {
    p {
        text-align: center;
        color: #fff;
        background: #a2a1a194;
        text-shadow: 2px 2px 1px rgba(150, 150, 150, 1);
        margin: 0;
        padding: 1.1rem 0;
        font-weight: 600;
        
        span {
            color: #f8b400;
        }
    }
}