.header {
    @include flex(row, space-evenly);
    align-items: center;
    border-bottom: 2px solid var(--header-menu-border-color, #DBDBDB);
    position: relative;
    
    @include mq(750) {
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    a {
        text-decoration: none;
        color: #000;
    }
    
    #{&}-logo {
        display: grid;
        grid-template-columns: 15% auto;
        align-items: center;
        animation: slideleft 0.6s ease forwards;
        
        @include mq(750) {
            flex: 1 0;
            grid-template-columns: 22% auto;
        }
        
        @include mq(450) { display: none; }
    
        img {
            width: 100%;
        }
    
        h1 {
            text-transform: uppercase;
            letter-spacing: var(--header-h1-letter-spacing, 3px);
            margin: 1.3rem 0;
        
            span {
                color: #FFC11C;
            }
        }
    }
    
    #{&}-menu {
        display: none;
        width: 40%;
        text-align: right;
        padding: 0 1rem;
        font-size: 1.5em;
        margin: var(--header-menu-margin, 1em);
        
        span, i {
            cursor: pointer;
        }
        
        i.fa-times {
            display: none;
        }
    
        @include mq(750) { display: block; }
    
        @include mq(450) {
            width: 100%;
            text-align: center;
        }
    }
}