%main-h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
}

.site-logo{
    background: linear-gradient(rgba(black, 0.3), rgba(black, 0.3)), url("../images/Cooking-for-one-1000x550.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
    
    div {
        margin: 0 auto;
        padding: 9.6rem 0 15.6rem 0;
        color: white;
        font-size: 1.6em;
        
        @include mq(710) {
            padding: 8.6rem 0 14.6rem 0;
        }
    }
    
    h2 {
        letter-spacing: 5px;
        font-size: 2.35em;
        margin: 0 0 0.6rem;
    }
    
    p {
        font-style: italic;
        letter-spacing: 3px;
        margin: 0;
    }
    
    hr {
        @include hr(26%, white);
        margin: 0.5rem auto;
        
        @include mq(550) {
            width: 35%;
        }
    }
}

.about-us {
    text-align: center;
    padding: 4rem 0;
    font-size: 1.04em;
    
    h2 { @extend %main-h2; }
    
    hr { @include hr(); }
    
    div {
        p {
            color: #C8C6C4;
            margin-top: 0.3%;
            font-style: italic;
        }
    }
    
    p {
        color: #9a9399;
        width: 61%;
        margin: 2.2rem auto 0;
        
        @include mq(800) {
            width: 90%;
            margin-top: 1rem;
        }
    }
}

.best-receipts {
    background: #F7F7F7;
    padding: 3rem 0 1rem 0;
    
    #{&}-title {
        text-align: center;
    
        h2 { @extend %main-h2; }
        
        hr { @include hr(35%); }
    }
    
    
    #{&}-posts {
        @include flex(row, center);
        padding-top: 2.7rem;
        flex-wrap: wrap;
    
        article {
            width: 26%;
            background: #FFFFFF;
            border-radius: 10px;
            margin: 0 1rem 3rem;
            position: relative;
        
            @include mq(850) { width: 40%; }
            @include mq(500) { width: 90%; }
        }
    
        div:first-of-type {
            position: relative;
        
            &:before {
                @include padding-block(60%);
            }
    
            img {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
            }
        }
    
        div:last-of-type {
            box-sizing: border-box;
            padding: 1rem 2rem 4rem;
        
            h4 {
                margin: 1rem 0 0.5rem 0;
            }
        
            i {
                color: #FFC11C;
            }
        
            .rating {
                margin: 0;
                color: #7F7F7F;
            
                span {
                    font-weight: 500;
                    margin-left: 0.4rem;
                }
            }
            
            a {
                background: transparent;
                border: 2px solid #FFC11C;
                text-decoration: none;
                padding: 0.6rem 1.7rem;
                border-radius: 3px;
                cursor: pointer;
                outline: none;
                font-size: 0.95rem;
                font-weight: 600;
                color: #766f75;
                margin-top: 0.3rem;
                margin-bottom: 0.7rem;
                transition: all 0.3s ease;
                position: absolute;
                bottom: 0.8rem;
                left: 2rem;
    
                &:hover {
                    background: #FFC11C;
                    color: white;
                }
            }
        
            P:last-of-type { color: rgb(38, 38, 38); }
        }
    }
}

.new-dishes {
    padding: 2rem 0 4.5rem 0;
    
    @include mq(700) {
        padding: 2rem 0 2rem 0;
    }
    
    #{&}-title {
        text-align: center;
    
        h2 {  @extend %main-h2; }
        
        hr { @include hr(19%); }
    }
    
    #{&}-images {
        @include flex(row, space-evenly);
        margin-top: 3rem;
    
        @include mq(700) {
            flex-direction: column;
            margin: 0;
        }
        
        img {
            width: 100%;
            height: 100%;
            border-radius: 12px;
            position: absolute;
            top: 0;
            left: 0;
        }
        
        div {
            width: 30%;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            border-radius: 12px;
            font-size: 2em;
    
            @include mq(700) {
                width: 70%;
                margin: 1rem auto;
            }
    
            @include mq(500) {
                width: 90%;
            }
            
            &:before {
                @include padding-block(70%);
            }
            
            &:after {
                @include flex(row, center);
                position: absolute;
                top: 0; left: 0; bottom: 0; right: 0;
                background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
                font-weight: 700;
                color: #eeecea;
                align-items: center;
                opacity: 0;
                transform: translateX(-100%);
                border-radius: 12px;
                transition: all 0.8s ease;
    
                @include mq(500) {
                    opacity: 1;
                    transform: translateX(0);
                }
            }
    
            &:hover:after {
                opacity: 1;
                transform: translateX(0);
            }
    
            $dishes-name: ('Stewed steak', 'Pizza Fresca', 'Scalloped');
    
            @for $i from 1 to length($dishes-name) + 1 {
                &:nth-of-type(#{$i}):after {
                    content: nth($dishes-name, $i);
                }
            }
        }
    }
}

.chefs {
    padding: 2rem 0 5rem 0;
    background: #f7f7f7 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23000000' fill-opacity='0.05'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    
    @include mq(820) { padding-bottom: 3rem; }
    
    #{&}-title {
        h2 {
            @extend %main-h2;
            text-align: center;
        }
    
        hr {
            @include hr(18%);
            
            @include mq(500) { width: 30%; }
        }
    }
    
    #{&}-content {
        @include flex(row, center);
        margin-top: 3rem;
        
        @include mq(820) { flex-direction: column; }
        
        article {
            width: 25%;
            margin: 0 1rem;
            text-align: center;
            padding: 2.5rem 1.5rem;
            box-sizing: border-box;
            cursor: pointer;
            box-shadow: 8px 6px 36px 0 rgba(0,0,0,.15);
            background: #f8f8f8;
            
            @include mq(820) {
                width: 65%;
                margin: 1rem auto;
            }
            
            @include  mq(500){
                width: 90%;
            }
            
            h4 {
                margin: 2rem 0 0;
                font-weight: 900;
            }
            
            p {
                color: #7A7A7A;
                font-style: italic;
                margin-bottom: 0;
            }
    
            div {
                position: relative;
                width: 44%;
                margin: 0 auto;
        
                @include mq(820) { width: 35%; }
        
                @include  mq(550){ width: 30%; }
        
                &:before {
                    @include padding-block(100%);
                }
        
                &:after {
                    display: block;
                    content: '';
                    position: absolute;
                    left: 0; right: 0; top: 0; bottom: 0;
                    border-radius: 50%;
                    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.52);
                }
            }
    
            img {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                border-radius: 50%;
            }
    
            &:hover {
                p { color: black; }
                
                img { opacity: 0.7;}
            }
        }
    }
}