@mixin mq($width) {
    @media all and (max-width: #{$width}px){
        & {
            @content;
        }
    }
}

@mixin flex($direction, $justify-content: initial) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
}

@mixin hr($width: 14%, $background: #959295) {
    width: $width;
    background: $background;
    height: 2px;
    border: none;
}

@mixin padding-block($width) {
    display: block;
    content: '';
    padding-top: $width;
}