nav {
    @include mq(750) {
        display: none;
        flex-basis: 100%;
    }
    
    .header-nav {
        @include flex(row);
        list-style: none;
        padding: 0;
        
        & > li a{
            padding: .3rem 1rem;
            border-right: 2px solid #DBDBDB;
            font-size: 1.2rem;
            text-decoration: none;
            color: #000;
            transition: color 0.3s ease;
    
            &:hover {
                color: #FFC11C;
            }
    
            @include mq(900) {
                font-size: 1.1rem;
                padding: 0.2rem 0.8rem;
            }
    
            @include mq(750) {
                font-size: 1.2rem;
                padding: 0.8rem 0;
            }
        }
        
        .clicked {
            opacity: 1;
            transform: translateY(0);
            visibility: unset;
        }
    }
    
    .header-inner-nav {
        @include flex(row, center);
        list-style: none;
        position: absolute;
        top: 101.7%;
        left: 0;
        background: white;
        width: 100%;
        box-sizing: border-box;
        padding: 0;
        border-bottom: 2px solid #DBDBDB;
        opacity: 0;
		z-index: 3;
        transform: translateY(-2rem);
        transition: all 0.3s ease;
        visibility: hidden;
        
        li {
            padding:0;
            
            a {
                display: block;
                padding: 1rem 3.5rem;
                transition: all 0.3s ease;
                
                &:hover {
                    background: #FFC11C;
                    color: white;
                }
                
                @include mq(750) {
                    padding-left: 0.4rem;
                    padding-right: 0.4rem;
                }
            }
            
            &:first-of-type a{
                border-left: 2px solid #DBDBDB;
            }
        }
        
        @include mq(750) {
            position: static;
            display: none;
        }
    }
}

#nav {
    display: none;
    
    @include mq(750) {
        &:checked + header {
            nav {
                display: block;
    
                ul {
                    flex-direction: column;
                    margin: 0;
                }
    
                li {
                    text-align: center;
                    border-top: 2px solid #dbdbdb;
                }
    
                a {
                    display: block;
                    border-right: 0;
                }
            }
    
            label {
                i.fa-bars {
                    display: none;
                }
    
                i.fa-times {
                    display: inline-block;
                }
            }
    
            .clicked {
                @include flex(row, space-around);
                border-top: 2px solid #dbdbdb;
                border-bottom: none;
        
                li, a {
                    border: none;
                    padding: 0.8rem 0;
                }
        
                li {
                    border: 0;
                    padding: 0;
                    width: 33.33%;
                    margin: 0 auto;
                }
        
                li:not(:last-of-type) a{
                    border-right: 2px solid #dbdbdb;
                }
            }
        }
    }
}