%after-block {
    @include flex(row, flex-start);
    align-items: flex-end;
    content: attr(data-attr);
    position: absolute;
    top: 0; left: 0; right: 0;
    border-radius: 10px;
    color: white;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    font-weight: 800;
    background: linear-gradient(rgba(black, 0.4), rgba(black, 0.4));
    transform: translateY(-100%);
    transition: transform 0.45s ease;
    
    @include mq(1100) { font-size: 1.4em; }
    
    @include mq(450) { transform: translateY(0); }
}

.salads-pictures-title,
.pizza-pictures-title,
.desserts-pictures-title {
    background: linear-gradient(rgba(black, 0.3), rgba(black, 0.3)), url("../images/logo1.jpg") no-repeat center;
    background-size: cover;
    padding: 7rem 0;
    margin: 0 0 3rem;
    
    h2 {
        letter-spacing: 2px;
        font-size: 2.2rem;
        color: white;
        margin: 0;
        text-align: center;
        font-weight: 800;
        text-transform: uppercase;
        
        @include mq(500) {  font-size: 2rem; }
    }
    
    hr {
        @include hr(18%, white);
        margin-top: 0.4rem;
        
        @include mq(600) {  width: 39%; }
    }
}

.desserts-pictures hr {
    width: 21%;
    
    @include mq(600) {  width: 45%; }
}

.pizza-pictures hr {
    width: 16%;
    
    @include mq(600) { width: 35%; }
}

.salads-pictures-gallery, .desserts-pictures-gallery {
    width: 96%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.4rem;
    padding-bottom: 4rem;
    
    @include mq(650) { grid-template-columns: repeat(2, 1fr); }
    
    @include mq(450) { grid-template-columns: 1fr; }
    
    article {
        display: grid;
        grid-gap: 1.3rem;
        grid-auto-rows: min-content;
    
        @include mq(650) {
            &:last-of-type {
                grid-column: span 2;
                grid-template-columns: repeat(2, 1fr);
            }
        
            align-self: center;
        }
    
        @include mq(450) {
            &:last-of-type {
                grid-column: inherit;
                grid-template-columns: 1fr;
            }
        }
    }
    
    div {
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        cursor: pointer;
        
        @include mq(650) { grid-column: span 1; }
        
        &:after {
            @extend %after-block;
        }
    
        &:hover img{
            transform: scale(1.1);
        }
        
        &:hover:after {
            transform: translateY(0);
        }
    }
    
    img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        transition: all 0.3s ease;
    }
}

.pizza-pictures-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1.3rem;
    grid-auto-flow: dense;
    width: 96%;
    margin: 0 auto 3rem;
    
    @include mq(950) {
        grid-template-columns: repeat(4, 1fr);
        
        & > div:nth-of-type(5) {
            grid-row: span 2;
        }
        
        & > div:last-of-type {
            &:before {
                padding-top: 33.33%;
                
                @include mq(450) {
                    padding-top: 0;
                }
            }
            
            grid-column: span 2;
        }
    }
    
    @include mq(650) {
        grid-template-columns: repeat(3,1fr);
        
        & > div:last-of-type {
            grid-column: span 1;
        }
    }
    
    @include mq(450) {
        grid-template-columns: 1fr;
    }
    
    div {
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        cursor: pointer;
        
        &:before { @include padding-block(100%); }
    
        &:after {
            @extend %after-block;
        }
    
        &:hover img{
            transform: scale(1.1);
        }
    
        &:hover:after {
            transform: translateY(0);
        }
    }
    
    img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        border-radius: 10px;
        transition: all 0.3s ease;
    }
    
    .span-c2 {
        grid-column: span 2;
        grid-row: span 2;
    
        @include mq(450) {
            grid-column: inherit;
            grid-row: inherit;
        }
    }
    
    .span-r2 {
        grid-column: span 2;
        
        &:before {
            padding-top: 33.33%;
        }
    
        @include mq(450) {
            grid-column: inherit;
            grid-row: inherit;
    
            &:before {
                padding-top: 0;
            }
        }
    }
    
    .span-c1 {
        grid-column: span 1;
        grid-row: span 2;
    
        @include mq(450) {
            grid-column: inherit;
            grid-row: inherit;
        }
    }
}