$map: (
    salads: 'Salads/background.jpg',
    pizza: 'Pizza/background2.jpg',
    desserts: 'Dessert/background.jpg'
);

@each $selector, $img in $map {
    .#{$selector} {
        background: url("../images/#{$img}") no-repeat center fixed;
    }
}

.receipt {
    background-size: cover;
    margin: 0 auto;
    padding: 7rem 4rem 4rem 4rem;
    box-sizing: border-box;
    
    @include mq(650) { padding: 7rem 1rem 2rem 1rem; }
    
    #{&}-header {
        @include flex(row);
        align-items: center;
    
        @include mq(900) { flex-direction: column; }
        
        ul {
            @include flex(row, space-between);
            flex: 1 1 auto;
            list-style: none;
            border-bottom: 2px solid var(--receipt-header-color, #646464);
            border-top: 2px solid var(--receipt-header-color, #646464);
            padding: 0;
    
            @include mq(900) { width: 100%; }
            
            @include mq(450) {
                flex-direction: column;
                border: none;
            }
    
            li:not(:last-of-type) {
                border-right: 2px solid var(--receipt-header-color, #646464);
                
                @include mq(450) { border-right: none; }
            }
            
            li {
                padding: 1rem 0.5rem 1rem 0.5rem;
                flex: auto;
                text-align: center;
    
                @include mq(450) {
                    border-bottom: 2px solid var(--receipt-header-color, #646464);
        
                    &:first-of-type { border-top: 2px solid var(--receipt-header-color, #646464); }
                }
            }
            
            h4 {
                margin: 0 0 1rem 0;
            }
            
            i {
                font-size: 1.3rem;
            }
            
            span {
                font-size: 1.1em;
                font-style: italic;
            }
        }
    }
    
    #{&}-main {
        @include flex(row, space-evenly);
        padding-bottom: 2rem;
        width: 80%;
        margin: 0 auto;
        
        @include mq(900) {
            flex-direction: column;
            padding-bottom: 0.5rem;
        }
        
        @include mq(450) { width: 90%; }
    
        @at-root #{&}-image {
            width: 56%;
            margin-top: 1rem;
            overflow: hidden;
            border-radius: 10px;
            position: relative;
            
            @include mq(900) {
                width: 100%;
                position: static;
            }
            
            &:hover img{
                opacity: 0.7;
            }
        }
    
        @at-root #{&}-products {
            flex: 0 1 auto;
            box-sizing: border-box;
            padding: 1rem;
            
            @include mq(900) {
                text-align: center;
                padding: 0;
            }
            
            ol {
                list-style: none;
                padding: 0 0 0 1rem;
                
                @include mq(900) { padding: 0; }
            }
            
            h4 {
                margin: 1.2rem 0 0.5rem 0;
            }
            
            li {
                padding: 0.5rem 0 0.2rem 0;
                font-size: 1.05em;
            }
            
            div {
                text-align: right;
                padding-right: 2rem;
            }
        }
    }
    
    article {
        padding: 3rem 3rem 2rem 3rem;
        box-sizing: border-box;
        position: relative;
        border-radius: 4px;
        background: #f6f1e6 url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23090909' fill-opacity='0.07' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
        margin-bottom: 7rem;
        border: 1px solid black;
        
        @include mq(900) { padding: 2rem 1rem; }
        
        &:nth-of-type(even) .receipt-main-image{
            order: 1;
            
            @include mq(900) {
                order: 0;
            }
        }
    
        h2 {
            position: absolute;
            top: -3.35rem;
            left: 3rem;
            padding: .7rem 2.5rem;
            background: bisque url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23090909' fill-opacity='0.07' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            margin: 0;
            border: 1px solid black;
            border-bottom: 2px dotted black;
            
            @include mq(700) { top: -3.5rem; }
    
            @include mq(360) { left: 2rem; }
        }
        
        img {
            width: auto;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 10px;
            
            @include mq(900) {
                transform: translate(0%,0%);
                position: static;
                width: 100%;
            }
        }
        
        .votes {
            padding: 1rem;
            
            @include mq(900) {
                text-align: center;
                padding: 1rem 0 0 0;
            }
            
            .fa-star {
                color: #FFC11C;
            }
            
            span {
                margin-left: 0.3rem;
                font-weight: 500;
                color: #7f7f7f;
            }
            
            p {
                color: #666161;
            }
        }
        
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    
    #{&}-content {
        padding: 1.4rem 2rem 0 2rem;
        border-top: 2px dotted;
        
        ul {
            padding: 0 1.2rem;
        }
        
        h4 {
            margin: 0.3rem 0 0;
        }
        
        li {
            padding: .5rem 0 .2rem;
            font-size: 1.05em;
        }
    }
}