.register {
    background: url("../images/register-background.jpg") no-repeat center fixed;
    background-size: cover;
    
    img {
        width: 37%;
        
        @include mq(450) {
            width: 50%;
        }
    }
    
    & > div {
        width: 40%;
        margin: 0 auto;
        background: rgba(255,255,255,.8);
        box-shadow: 0 0 1em 0 rgba(51,51,51,0.25);
        padding: 3rem 3rem;
        box-sizing: border-box;
        position: relative;
        
        @include mq(1100) {
            width: 50%;
        }
        
        @include mq(810) {
            width: 60%;
        }
        
        @include mq(620) {
            width: 80%;
        }
        
        @include mq(420) {
            width: 90%;
            padding-bottom: 6rem;
        }
        
        @include mq(350) {
            width: 95%;
        }
    }
    
    #{&}-header {
        text-align: center;
        
        h2 {
            font-family: 'Cookie', cursive;
            font-size: 3.3em;
            font-weight: 400;
            margin: 1rem 0 0.5rem;
        }
    }
    
    form {
        & div:first-of-type {
            display: flex;
            flex-direction: row;
    
            label:first-of-type {
                border-right: 2px solid #333;
                
                @include mq(420) {
                    border-right: 0;
                }
            }
            
            @include mq(420) {
                flex-direction: column;
            }
        }
    
        span {
            text-transform: uppercase;
            font-size: 0.9em;
            color: #333;
            font-weight: 600;
            margin: 0 0 0.4rem 0;
        }
        
        label {
            display: block;
            margin-top: 1.1rem;
            width: 100%;
            
            input[type="text"], input[type="password"], input[type="email"], input[type="number"] {
                background: transparent;
                border: none;
                border-bottom: 2px solid #676565;
                width: 100%;
                box-sizing: border-box;
                outline: none;
                color: #333;
                font-size: 1.2rem;
                font-weight: 100;
                padding: 0.3rem;
            }
        }
    
        & > div:nth-child(1) > label:nth-child(2) {
            span {
                margin-left: 0.8rem;
    
                @include mq(420) {
                    margin-left: 0;
                }
            }
        
            input {
                padding-left: 1.2rem;
    
                @include mq(420) {
                    padding-left: 0.3rem;
                    padding-right: 0.3rem;
                }
            }
        }
        
        label.container:first-of-type {
            border-right: 0;
        }
    
        .container {
            display: block;
            position: relative;
            padding-left: 40px;
            color: #C0C0C0;
            cursor: pointer;
            text-align: left;
            font-size: 1.1em;
            user-select: none;
        }
    
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }
    
        .checkmark {
            position: absolute;
            top: -2px;
            left: 2px;
            height: 1.3rem;
            width: 1.3rem;
            background-color: rgba(255,255,255,0.7);
            border-radius: 50%;
            border: 4px solid #7d7979;
        }
    
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }
    
        .container input:checked ~ .checkmark:after {
            display: block;
        }
    
        .container .checkmark:after {
            left: 3px;
            top: 3px;
            width: 0.95rem;
            height: 0.95rem;
            border-radius: 50%;
            background: #918f8f;
        }
        
        .gender {
            span.checkmark {
                margin: 0;
            }
            
            & > span {
                margin-top: 1.1rem;
                margin-bottom: 1rem;
                display: block;
                margin-left: 0;
            }
            
            label {
                padding-bottom: 0.3rem;
                margin-top: 0;
                margin-left: 0;
            }
            
            div {
                flex-direction: column;
                
                span {
                    text-transform: initial;
                    font-size: 1.1rem;
                    font-weight: 500;
                }
            }
    
            div > label:nth-child(1) {
                border-right: 0;
            }
    
            label {
                margin: 0.5rem 0.6rem;
                box-sizing: border-box;
            }
        }
        
        input[type="submit"] {
            display: block;
            padding: .7rem 1.9rem;
            background: #676565;
            color: white;
            border-radius: 5px;
            cursor: pointer;
            outline: none;
            font-weight: 600;
            margin: 1rem auto 0.7rem;
            transition: all 0.3s ease;
            border: 3px solid transparent;
            
            &:hover {
                background: rgba(255, 255, 255, 0.4);
                color: #676565;
                border: 3px solid #676565;
            }
        }
    }
    
    p {
        text-align: center;
        margin-bottom: 3rem;
        
        a {
            text-decoration: underline;
            color: #818080;
        }
        
        i {
            margin-left: 0.3rem;
        }
        
        &:hover a{
            color: black;
        }
    }
    
    #{&}-footer {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        
        @include mq(420) {
            flex-direction: column;
        }
    
        div {
            width: 50%;
            padding: 1rem 0;
            text-align: center;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s ease;
    
            @include mq(420) {
                width: 100%;
            }
            
            i {
                margin-right: 0.3rem;
            }
            
            &:first-of-type {
                background-color: #48629C;
            }
    
            &:last-of-type {
                background-color: #DB4B38;
            }
            
            &:hover {
                background-color: #6DCCF3;
            }
        }
    }
}

body > main > section > div > form > label.container > span.checkmark,
body > main > section > div > form > div.gender > label > span:nth-child(3),
body > main > section > div > form > label.container > span:nth-child(3) {
    margin: 0;
}