.tricks {
    #{&}-title {
        background: linear-gradient(rgba(black, 0.3), rgba(black, 0.3)), url("../images/Tricks/tricks-logo.jpg") no-repeat center fixed;
        background-size: cover;
        text-align: center;
        color: white;
        padding: 8rem 0;
        
        h2 {
            letter-spacing: 1px;
            font-size: 3em;
            margin: 0 0 0.6rem;
            
            @include mq(700) { font-size: 2em; }
        }
        
        p {
            width: 58%;
            margin: 0 auto;
            
            @include mq(890) { width: 80%; }
        }
        
        hr { @include hr(20%, white); }
    }
    
    #{&}-articles {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
        @include mq(380) { grid-template-rows: inherit; }
        
        @include mq(900) { grid-template-columns: 1fr; }
        
        @at-root #{&}-picture {
            height: 28rem;
            
            img {
                width: 100%;
                height: 100%;
            }
            
            @include mq(380) { height: 18rem; }
        }
        
        article {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            box-sizing: border-box;
            overflow: hidden;
            position: relative;
            
            @include mq(380) {
                grid-template-columns: 1fr;
                padding-bottom: 1rem;
            }
            
            &:after {
                display: block;
                content: '';
                position: absolute;
                top: 0; left: 0; right: 0; bottom: 0;
                border: 1rem transparent;
                transition: border 0.4s ease;
            }
            
            &:hover:after {
                border: 1rem solid rgba(0, 0, 0, 0.2);
            }
            
            $count: 3;
            @for $i from 1 through 4 {
                @for $j from 1 through 2 {
                    &:nth-of-type(#{$count}) .tricks-articles-picture{
                        order: 1;
                    }
                    $count: $count + 1;
                }
                $count: $count + 2;
            }
            
            @include mq(900) {
                &:nth-of-type(even) .tricks-articles-picture {
                    order: 1;
                }
                
                &:nth-of-type(odd) .tricks-articles-picture {
                    order: 0;
                }
            }
            
            @include mq(380) {
                &:nth-of-type(even) .tricks-articles-picture {
                    order: 0;
                }
            }
        }
        
        @at-root #{&}-content {
            padding: 0 3rem;
            align-self: center;
            
            @include mq(1100) { padding: 0 1rem; }
            
            @include mq(900) { padding: 0 2rem; }
            
            @include mq(500) { padding: 0 1rem; }
            
            h4 {
                color: #1A1C1E;
                font-size: 2em;
                text-align: center;
                margin: 1.5rem 0;
            }
            
            p {
                color: #6a6c6e;
                line-height: 1.75;
                align-self: center;
            }
            
            span {
                color: #F0B80E;
                display: block;
                text-align: right;
                font-style: italic;
            }
        }
    }
}