html {
    font-family: var(--main-font, sans-serif);
    font-size: var(--main-font-size);
    line-height: 1.2;
    
    @include mq(1600) { font-size: 20px; }
    @include mq(1400) { font-size: 18px; }
    @include mq(1000) { font-size: 16px; }
    @include mq(700) { font-size: 14px; }
}

main {
    max-width: 1920px;
    margin: 0 auto;
}

body, table, th, td, form, input, textarea, option, select {
    font: inherit;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

h4 {
    font-size: var(--font-size-h4);
}

.register-header h2, .login-header h2 {
    font-family: 'Cookie', cursive;
}

.register-header h2 { font-size: 3.3em; }

.login-header h2 { font-size: 4em; }

.tricks-articles-content span {
    font-family: 'Kaushan Script', cursive;
    font-size: 1.28rem;
}