:root {
    --main-font: 'Lato', sans-serif;
    --main-font-size: 22px;
    --font-size-h4: 1.5em;
    --font-size-h2: 1.6em;
    --font-size-h1: 2.4em;
    --footer-button-background: #f8b400;
    --footer-button-color: #fff;
    --receipt-header-color: #646464;
    --header-menu-margin: 1em;
    --header-menu-border-color: #DBDBDB;
    --header-h1-letter-spacing: 3px;
}