@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

$fa-font-path: "../fontawesome/webfonts";

@import "../fontawesome/scss/fontawesome";
@import "../fontawesome/scss/brands";
@import "../fontawesome/scss/regular";
@import "../fontawesome/scss/solid";

@import "header";
@import "navigation";
@import "layout";