<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{site.title}}</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
</head>
<body>
    <header>
        <div>
            <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/images/Chef-Logo.png" alt="chef-logo"></a>
            <h1><a href="{{site.baseurl}}/"><span>Cook</span>ing</a></h1>
        </div>

        <nav>
            <ul>
                <li><a href="{{site.baseurl}}/">Home</a></li>
                <li><a href="#">Receipts</a>
                    <ul>
                        <li><a href="{{site.baseurl}}/salads/">Salads</a></li>
                        <li><a href="{{site.baseurl}}/pizza/">Pizza</a></li>
                        <li><a href="{{site.baseurl}}/desserts/">Desserts</a></li>
                    </ul>
                </li>
                <li><a href="{{site.baseurl}}/tricks/">Tricks</a></li>
                <li><a href="{{site.baseurl}}/pictures/">Pictures</a></li>
                <li><a href="{{site.baseurl}}/login/">Login</a></li>
                <li><a href="{{site.baseurl}}/register/">Register</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{content}}
    </main>

    <footer>
        <section class="info">
            <article class="contact-us">
                <h3>Contact us</h3>
                <ul>
                    <li><span>Address:</span> Sofia, Bulgaria <i class="fas fa-map-marker-alt"></i></li>
                    <li><span>E-mail:</span> cooking@gmail.com <i class="fas fa-envelope"></i></li>
                    <li><span>Phone:</span> +395 213 723 <i class="fas fa-phone"></i></li>
                    <li><span>Work time:</span> 09:00 - 17:30 <i class="far fa-clock"></i></li>
                </ul>
            </article>
            <article class="subscribe">
                <h3>Subscribe to The Daily Receipts</h3>
                <form action="#">
                    <input type="email" name="email" placeholder="Enter Email Address">
                    <input type="submit" value="Submit">
                </form>
            </article>
            <article class="follow-us">
                <h3>Follow us</h3>
                <div>
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-youtube"></i>
                    <i class="fab fa-linkedin-in"></i>
                </div>
            </article>
        </section>
        <section class="rights">
            <p>Copyright &copy; 2018 <span>Cook</span>ing &middot; All Rights Reserved.</p>
        </section>
    </footer>
    <script src="{{site.baseurl}}/js/navigation.js"></script>
</body>
</html>